<h1>Links</h1>
<ul id="links">
  <% @links.each do |link| %>
  <li>
    <%= link.id %>
    title: <%= link.title %>
    url: <a href="<%= link.url %>"><%= link.url %></a>
    tags: <%= link.tags.map(&:tag).join(" ") %>
  </li>
  <% end %>
</ul>

<form action="/links/new">
  <input type="submit" value="Add Link">
</form>
